@import '../../global/globalCssVariables.scss';

.dropdown {
  margin-top: 10px;
}

.divider {
  height: 1px;
  width: 100%;
  background: $medium-gray;
}

.dropdown-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 170px;
  width: fit-content;
  height: 100%;
  position: relative;

  .dropdown-list {
    position: absolute;
    top: 100%;
    width: 100%;
  }

  .dropdown-toggle {
    width: 100%;
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-areas: 
    "button end";
    grid-template-rows: 1fr;
    position: relative;
    align-items: center;

    .toggle-button {
      grid-area: button;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 1.5px 0px;
      width: calc(100% - 3px);
      height: 100%;
      min-width: 70px;
      justify-self: center;
    }

    .caret {
      cursor: pointer;
      grid-area: end;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      justify-self: center;
    }
  }
}
