@import '../../global/globalCssVariables.scss';

.button-container {
  position: relative;
  width: fit-content;
  padding: $padding;
  cursor: pointer;
  overflow: hidden;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-family: $default-font;
  border-radius: $standard-border-radius;
  white-space: nowrap;
  transition: 0.4s;
  border: solid 1px;
  border-color: transparent;
  pointer-events: all;

  &.icon {
    padding: 0;
    gap: 0;
  }

  .button-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: 100%;
    z-index: 1;
    gap: 5px;

    .icon {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .background {
    width: 100%;
    height: 100%;
    z-index: 0;
    left: 0;
    top: 0;
    position: absolute;
    transition: 0.4s;
  }

  &.inactive {
    &:hover {
      .background {
        filter: opacity(0) !important;
      }
    }
  }

  &.primary {
    .background {
      filter: opacity(0);

      &.active {
        filter: opacity(0.2) !important;
      }
    }

    &:hover{
      .background {
        filter: opacity(0.2)
      }
    }
  }

  &.secondary {
    .background {
      filter: opacity(0);

      &.active {
        filter: opacity(0.2) !important;
      }
    }

    &:hover{
      .background {
        filter: opacity(0.2)
      }
    }
  }

  &.tertiary {
    &:hover{
      box-shadow: $standard-shadow;
    }

    .background {
      filter: opacity(1) !important;
    }

    &:hover{
      .background {
        filter: brightness(0.8);
      }
    }
  }

  .label {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: $xsmall-fontSize;
  }
}
