@import '../../global/globalCssVariables.scss';

.button-container {
  position: relative;
  width: fit-content;
  height: 30px;
  padding: 0px 20px;
  cursor: pointer;
  overflow: hidden;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-family: $default-font;
  font-size: $default-fontSize;
  white-space: nowrap;
  transition: 0.4s;

  .button-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 1;
    gap: 10px;
  }

  .button-background {
    width: 100%;
    height: 100%;
    z-index: 0;
    position: absolute;
    transition: 0.4s;
  }

  &.gray {
    &:hover {
      .button-background {
        background: $hover-background !important;
      }
    }
  }

  &.shadow {
    &:hover{
      box-shadow: $standard-button-shadow;
    }
  }
  &.darken {
    &:hover{
      .button-background {
        filter: brightness(80%);
      }
    }
  }
  &.lighten {
    &:hover{
      .iconbutton-background {
        background: lighten(black, 20%) !important;
      }
    }
  }

  .button-ripple {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 100%;
    z-index: 2;
    position: absolute;
    width: 100px;
    height: 100px;
    transition: 0.2s;
  }

  .button-label {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: $label-fontSize;
  }
}
