@import '../../global/globalCssVariables.scss';

.list-item {
    position: relative;
    display: grid;
    height: 30px;
    width: 100%;
    border-radius: $standard-border-radius;
    grid-template-columns: 80% 20%;
    grid-template-areas: 
    "button end";
    grid-template-rows: 1fr;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    justify-content: flex-start;
    justify-self: center;
    cursor: pointer;

    &:hover{
        background: $hover-background;
        .sub-list{
            display: block;
        }
    }

    .button {
        grid-area: button;
        margin-left: 10px;
    }

    .shortcut {
        grid-area: end;
        color: $black;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: $label-fontSize;
        font-family: $default-font;
    }

    .caret {
        grid-area: end;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        justify-self: center;
    }

    .sub-list {
        display: none;
        position: absolute;
        width: 200px;
        left: calc(100% + 5px);
    }
}