@import '../../global/globalCssVariables.scss';

.listItem-container {
  position: relative;
  width: 100%;
  border-radius: $standard-border-radius;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  cursor: pointer;
  font-family: Verdana, sans-serif;
  overflow: hidden;
  text-align: left;

  .listItem-background {
    position: absolute;
    width: 100%;
    height: 100%;
    background: $medium-blue;
    filter: opacity(0);
    transition: 0.4s;
  }

  .listItem-top {
    display: flex;
    height: 30px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

    .content {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: $padding;
      width: 100%;
      height: 100%;
      z-index: 1;
      gap: 5px;
      font-weight: 500;

      .text {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;
      }
    }

    .shortcut {
      grid-area: end;
      padding: $padding;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: $xsmall-fontSize;
      font-family: $default-font;
    }

    .caret {
      grid-area: end;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      justify-self: center;
    }
  }

  .listItem-description {
    font-size: $small-fontSize;
    display: flex;
    padding: 0px 5px 10px 5px;
    justify-content: flex-start;
    width: calc(100% - 10px);
  }
}
