@import '../../global/globalCssVariables.scss';

.listBox-container {
    position: relative;
    width: 100%;
    min-width: 170px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;

    .listBox-popup {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
}

.list-item {
    position: relative;
    display: grid;
    margin: 1.5px 0px;
    width: calc(100% - 3px);
    border-radius: 5px;
    grid-template-columns: 80% 20%;
    grid-template-areas: 
    "button end";
    grid-template-rows: 1fr;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;

    &:hover{
        background: $light-gray;
        .sub-list{
            display: block;
        }
    }

    .button {
        grid-area: button;
        margin-left: 20px;
    }

    .shortcut {
        grid-area: end;
        color: $medium-gray;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        font-size: $label-fontSize;
        font-family: $default-font;
    }

    .caret {
        grid-area: end;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .sub-list {
        display: none;
        position: absolute;
        width: 200px;
        left: calc(100% + 5px);
    }
}