@import '../../global/globalCssVariables.scss';

.popup-wrapper {
  width: 100%;
  
  .trigger-container {
    width: fit-content;
    height: fit-content;

    &.custom {
      width: 100%;
    }
  }
}

.popup-container {
  display: flex;
  height: fit-content;
  min-width: fit-content;
  width: fit-content;
  position: relative;
  border: solid 2px;
  background: $white;
}
