@import '../../global/globalCssVariables.scss';

.popup-overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;

  .popup {
    position: absolute;
    width: 200px;
    height: 200px;
    border: solid 2px black;
    background: white;
  }
}

.toggle-container {
  display: flex;
  border-radius: $standard-border-radius;
  height: fit-content;
  width: fit-content;
  position: relative;

  &:hover {
    outline: solid 1px $light-gray;
    outline-offset: -1px;
  }
}
