@import '../../global/globalCssVariables.scss';

.popup-overlay {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background: pink;

  .popup {
    position: absolute;
    width: 100px;
    height: 100px;
    border: solid 2px black;
  }
}

.toggle-container {
  display: flex;
  border-radius: $standard-border-radius;
  height: fit-content;
  width: fit-content;
  position: relative;

  &:hover {
    outline: solid 1px $light-gray;
    outline-offset: -1px;
  }
}
