@import '../../global/globalCssVariables.scss';

.editableText {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-size: inherit;
  font-family: $default-font;  
  border: none;
  outline: none;
  -webkit-appearance: none;
  box-shadow: none !important;
  border-radius: 5px;
  padding:5px;

  &:focus {
    outline: solid 2px $light-blue;
    // background-color: $light-gray;
  }
}

.displayText {
  cursor: text !important;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: inherit;
  font-family: $default-font;
  padding:5px;  
}