@import '../../global/globalCssVariables.scss';

.editableText {
  -webkit-appearance: none;
  width: calc(100% - 10px);
  overflow: hidden;
  font-size: inherit;
  font-family: $default-font;  
  border: none;
  outline: none;
  margin: 0px !important;
  padding: 0px !important;
  padding-left: 10px !important;
  box-shadow: none !important;
  border-radius: $standard-border-radius;
  background: none;

  &:focus {
    // outline: solid 1px $medium-blue;
    // outline-offset: -1px;
    // background-color: $light-blue;
  }
}

.displayText {
  cursor: text !important;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: inherit;
  font-family: $default-font;
  padding:5px;  
}