.overlayView-container {
    width: 100vw;
    height: 100vh;
    position: absolute;
    pointer-events: none;

    .overlayView-eleWrapper {
        z-index: 80000;
        position: absolute;
        width: fit-content;
        height: fit-content;
        pointer-events: auto;
    }

    .overlayView-doc {
        pointer-events: auto;
    }
}