@import '../../global/globalCssVariables.scss';

.listBox-container {
    position: relative;
    z-index: 100;
    width: calc(100% - 3px);
    // min-width: 170px;
    padding: 1.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100000;
    overflow-y: scroll;
    overflow-x: visible;

    .listBox-popup {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        gap: 1.5px;
    }
}