@import '../../global/globalCssVariables.scss';

.listBox-container {
    position: relative;
    z-index: 100;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100000;
    border-radius: $standard-border-radius;
    overflow-y: scroll;
    overflow-x: visible;

    .listBox-popup {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        gap: 1.5px;
    }
}