@import '../../global/globalCssVariables.scss';

.iconbutton-container {
  position: relative;
  height: 40px;
  width: 40px;
  cursor: pointer;
  overflow: hidden;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $default-font;
  font-size: $default-fontSize;
  white-space: nowrap;
  transition: 0.4s;

  .iconbutton-icon {
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .iconbutton-background {
    width: 100%;
    height: 100%;
    z-index: 0;
    position: absolute;
    transition: 0.4s;
  }

  &.gray {
    &:hover {
      .iconbutton-background {
        background: rgba(0, 0, 0, 0.3) !important;
      }
    }
  }

  &.shadow {
    &:hover{
      box-shadow: rgb(0 0 0 / 20%) 0px 2px 4px -1px, rgb(0 0 0 / 14%) 0px 4px 5px 0px, rgb(0 0 0 / 12%) 0px 1px 10px 0px;
    }
  }

  &.darken {
    &:hover{
      .iconbutton-background {
        filter: brightness(80%);
      }
    }
  }

  &.lighten {
    &:hover{
      .iconbutton-background {
        background: lighten(black, 20%) !important;
      }
    }
  }

  .iconbutton-label {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: $label-fontSize;
  }
}
