@import '../../global/globalCssVariables.scss';

.group-wrapper {
  overflow: hidden;

  .group-container {
    width: fit-content;
    display: flex;
    flex-flow: row wrap;
    height: fit-content;
    flex-flow: row;
    justify-content: flex-start;
    align-items: center;
  }
}

